<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
<div class="pai">
    <div class="filho">
        <a href="{{url_for('index')}}"> Início </a>
    </div>
    <div class="filho2">
        <a href="{{url_for('pessoa')}}"> Pessoa </a>
    </div>
    <div class="filho3">
        <a href="{{url_for('listar_atividades')}}"> Listar </a>
    </div>
    <div class="filho4">
        <a href="{{url_for('criar_atividade')}}"> Criar </a>
    </div>
</div>
{% block conteudo %}

{% endblock %}
</body>
</html>